.addUser
{
    width:90%;;
}
.matFormField
{
    width: 100%;
    text-indent: 3%;
}

#header{
    color: #002769;
    font-weight: 300;
}
#buttons{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    
   
}
#cancel{
    border-style: solid;
    border-color: lightgray;
    height:36px;
    margin-right: 3%;
    width: 25%;

}
#addUserButton
{
    background-color: #EB008B;
    color:white; 
    margin-right: 0%;
    width: 25%;  
}
