<body class="body">
  <div class="loginForm">
      <img src="./assets/images/descarcare.jpg" id="background" alt=""> 
  <div class="loginForm">
    <p id="title">
      Policlinica
      <p>
        <p id="subtitle">
         Bine ati venit!
          <p>
  </div>
  
  <!-- <script type="text/javascript">
    function startCombine(startButton) {
       startButton.disabled = 'true';
       startButton.disabled = 'false';
    }
  </script> -->
  
  <div class="login-card" >
    <mat-card>
        <mat-card-header>
          <mat-card-title>Enter to your account</mat-card-title>
        </mat-card-header>
        <div class="errorText">{{errorMessage}} </div>
       <mat-card-content>
    <form [formGroup]="loginForm"  class="login-form">
      <mat-form-field class="field">
        <mat-icon matPrefix>email</mat-icon>
        <mat-label class="label">Your E-mail</mat-label>
        <input matInput formControlName="email">
        <span *ngIf="email?.$valid">
            {{errorMessage}}
        </span>
      </mat-form-field>
  
      <mat-form-field class="field">
        <mat-icon matPrefix>lock_open</mat-icon>
        <mat-label class="label">Password</mat-label>
        <input matInput  [type]="hide ? 'password' : 'text'" formControlName="password">
      </mat-form-field>
    </form>
  </mat-card-content>
    <div class="button">
        <button mat-button (click)="login()" 
        [disabled]="(!loginForm.value.email)||(!loginForm.value.password)">Login</button>
    </div>
  
  
    
  </mat-card>
    
  
  </div>
  
  <a href='http://localhost:4200/create' class="create-account">Create account</a> 
  
  </div>
  </body>